.sidebarItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px 0px 8px;
  width: 100%;
  height: 60px;
  background: rgba(0, 20, 0, 0.3);
  border-radius: 20px;
  margin-bottom: 12px;
  transition: all 0.3s ease;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

.active {
  background: #0A3616;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebarItem::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  z-index: 0;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: relative;
  z-index: 1;
  width: calc(100% - 30px);
}

.sublabel {
  font-family: 'EYInterstate', Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  margin-bottom: 3px;
  opacity: 0.7;
}

.label {
  font-family: 'EYInterstate', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #F6F6FA;
  width: 100%;
}

.active .label {
  font-weight: 700;
}

.iconContainer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #6B9E76;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 0 2px 0 0;
  border: 2px solid #FFFFFF;
}

.activeIcon {
  background: #0C5318;
}

.completed .checkmark {
  width: 10px;
  height: 6px;
  border-left: 1.5px solid #FFFFFF;
  border-bottom: 1.5px solid #FFFFFF;
  transform: rotate(-45deg);
  position: relative;
  top: -1px;
}
